<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej, <%= @email %></h1>
    <p>
      Willkommen bei Mau-Mau Online. Wir wünschen dir viel Spaß.
    </p>
    <p>
      Du kannst dich auf <%= link_to @login_url, @login_url %> mit deiner E-Mail und deinem Passwort anmelden.
    </p>
    <p>
      Hab einen tollen Tag!<br>
      Dein Mau-Mau Online Team!
    </p>
  </body>
</html>
