<%- include('header') %>

<h1>Registrieren</h1>

<form method="post" action="/signup">
  <p>
    <label for="username">E-Mail</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Passwort</label>
    <input type="password" name="password" id="password">
  </p>
  <p>
    <input type="submit" value="Registrieren">
  </p>
</form>

<%- include('footer') %>
