!!!
%html{ lang: :de }
  %head
    %title= "Mau-Mau Online"
  :css
    html {
      max-width:70ch;
      padding:2ch;
      margin:auto;
      color:#333;
      font-size:1.2em;
      font-family: sans-serif;
    }

  %body
    %h1= "Mau-Mau Online"
